<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Master</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div class="container">
        <a href="/">Go Back to Homepage</a>
        <h1>Task Master</h1>

        {% if tasks|length < 1 %}
            <h4>No tasks available. Add one below.</h4>
        {% else %}
            <table>
                <tr>
                    <th>Task</th>
                    <th>Date Created</th>
                    <th>Actions</th>
                </tr>

                {% for task in tasks %}
                <tr>
                    <td>{{ task.content }}</td>
                    <td>{{ task.date_created.date() }}</td>
                    <td>
                        <a href="/assignment/delete/{{ task.id }}">Delete</a>
                        <br>
                        <a href="/assignment/update/{{ task.id }}">Update</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        {% endif %}

        <form action="/assignment" method="POST">
            <input type="text" name="content" id="content" placeholder="Enter a new task" required>
            <input type="submit" value="Add Task">
        </form>
    </div>
</body>
</html>