<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Task</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div class="container">
        <a href="/">Go Back to Homepage</a>
        <h1>Update Task</h1>

        <form action="/assignment/update/{{ task.id }}" method="POST">
            <input type="text" name="content" id="content" value="{{ task.content }}" required>
            <input type="submit" value="Update Task">
        </form>
    </div>
</body>
</html>